/* master styles */
body {
    margin: 0px;
    font-family: 'Space Mono', monospace;
    text-transform: lowercase;
    color: black;
    background-color: #FFE7E5;
    background-image: url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh
}

/* set up the 2 rows */
.wrapper {
    display: grid;
    grid-template-rows: 6fr 1fr;
    height: 100%
}

/* set up the 3 columns */
.row {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.logo-wrapper {
    padding: 20%;
}

.logo img {
    width: 50%;
}

#content-col {
    display: grid;
    align-content: center;
}

.content-wrapper h1, h2 {
    text-align: center;
    margin: 0;
}

.content-wrapper .hi-message {
    font-size: 2.5em;
    line-height: 2.5em;
    font-weight: bold;
    padding: 2% 10%;
}

.content-wrapper .blurb h2 {
    font-size: 2em;
    font-weight: normal;
    padding: 2% 20%;
}

.bottom {
    grid-column-start: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottom a {
    padding: 20px;
}

a {
    color: black;
    text-decoration: #9DFFA7 none;
}

.nav-wrapper {
    padding: 20%;
}

.nav-wrapper a {
    display: block;
    text-align: right;
    padding-bottom: 1em;
}

@media (max-width: 1200px) {
    .bottom a {
        display: block;
    }
    .content-wrapper .hi-message {
        font-size: 2em;
        line-height: 2em;
        padding: 2% 5%;
    }
    .content-wrapper .blurb h2 {
        font-size: 1.75em;
        padding: 5% 10%;
    }
    .row {
        grid-template-columns: 1fr 3.5fr 1fr;
    }
}

@media (max-width: 750px) {
    .content-wrapper .hi-message {
        font-size: 1.5em;
        line-height: 2em;
    }
    .content-wrapper .blurb h2 {
        font-size: 1.4em;
    }
    a {
        font-size: 0.8em;
    }
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

/* pseudo styles */
a:hover {
    font-weight: bold;
    text-decoration: #9DFFA7 wavy underline 3px;
    text-decoration-skip-ink: none;
}

::selection {
    background: rgb(157, 255, 167, 0.7);
}

.logo img:hover {
    animation: rotation 5s infinite linear;
}

