body {
    color: #210203;
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 18px;
    margin-bottom:2rem;
    background-color: #FFFFFF;
    /* background-image: url("assets/images/gradient.png");
    background-size: cover;
    background-size: 100% 90%;
    background-repeat: no-repeat;
    background-attachment: scroll; */
}

h1, h2, h3, h4, h5, h6 {
    
    font-family: "Karla", sans-serif;
    font-weight: 600;
    /* letter-spacing: 0.1rem; */
    color: rgb(33, 33, 33);
}

h2 {
    font-size: 36px;
}

h3 {
    color:#210203;
    font-size: 36px;
}

h5 {
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 24px;
}

a, i {
    color: rgb(33, 33, 33);
}

a:hover, i:hover {
    color:#210203;
}

a:hover, .nav-link:hover {
    text-decoration: underline 0.5px;
    text-underline-offset: 6px;
}

.reg-link {
    text-decoration: underline 0.5px;
    text-underline-offset: 6px;
}

.about-link {
    color: #f92bb1;
    /* font-weight: bold; */
}

.about-link:hover {
    color: #f92bb1;
    text-decoration: underline 0.5px;
    text-underline-offset: 6px;
}

.nav-item {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.proj-pic {
    border-radius: 6px;
    transition: transform 0.3s ease;
}

.proj-pic:hover {
    transform: scale(1.03);
}

.proj-name {
    font-family: "Karla", sans-serif;
    margin: 5% 0 3%;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: rgb(33, 33, 33);
    
}

.proj-name-big {
    font-family: "Karla", sans-serif;
    margin: 5% 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    color: rgb(33, 33, 33);
    
}

#tools {
    display: none;
}

.light {
    color: rgb(33, 33, 33);
}

strong {
    color:#36003F;
    font-weight:normal
}

em {
    font-style: normal;
    font-weight: bold;
}

.btn {
    background-color: rgb(33, 33, 33);
    color:#FFF8F8;
    font-size:18px;
    line-height:2rem;
    border:0px;
    border-radius: 50px;
    padding: 10px 30px;
}

.btn:hover,.btn:active,.btn:focus {
    font-weight: normal;
    background-color:#210203;
}

img {
    width:100%
}

.icon {
    width: auto;
    padding-left: 0.5rem;
}

.indent{
    padding-left:1.9rem
}

hr {
    border-top: 1px solid rgb(33, 33, 33);
}

.quote-pink {
    font-family: "Karla", sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #D13878;
}

.quote-blue {
    font-family: "Karla", sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #5182cd;
}

.quote-green {
    font-family: "Karla", sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #529f74;
}

.space {
    height: 30px;
}

.tag {
    display: inline-block;
    border-radius: 20px;
    font-size: 14px;
    background-color: rgb(227, 227, 227);
    font-family: 'Kantumruy Pro', sans-serif;
    color: rgb(78, 78, 94);
    padding: 6px 12px;
    margin: 0 2px 10px 0;
    cursor: pointer;   
}

/* all tag colors */
.uiux {
    background-color: #fce2f3;
}

.webdev {
    background-color: #dae5ff;
}

.case-study {
    background-color: #daf4ba;
}

.illustration {
    background-color: #fff5db;
}

.arvr {
    background-color: #c8f2d9;
}

.creative-coding {
    background-color: #e9d5f8;
}

.gamedev {
    background-color: #ffd39d;
}

.client {
    background-color: #ff9dea;
}

.digifab {
    background-color: #fff87b;
}

/* the single-line description shown w a project's thumbnail on home/work/play pages */
.tagline {
    margin-top: 15px;
    font-size: 15px;
}

.tagline-extra {
    font-size: 15px;
    color: rgb(145, 145, 145);
}

.tagline-extra a {
    color: rgb(145, 145, 145);
}

.work-grid-sm, .work-grid-lg {
    padding: 0.5rem;
}

.about {
    padding: 0.5rem;
}

.about-row {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

video {
    width: 100%;
    height:auto;
    object-fit:fill;
}

.wide-row {
    margin: 0 60px;
}

.wide-row .col-md-5, .col-md-4, .col-md-7, .col-md-8 {
    padding-left: 4px;
    padding-right: 4px;
}

.grid-caption {
    margin: 30px 20px;
}

.arrows {
    display: inline;
    font-family: "Karla", sans-serif;
}

.nucleus-iframe {
    position: relative;
    padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid-caption {
    font-size: 16px;
}

@media only screen and (max-width: 1000px) {
    .wide-row {
        margin: 15px;
    }
    .arrows {
        display: none;
    }
}

#more-arrow {
    font-family: "Karla", sans-serif;
    text-align: left;
    padding: 0px;
    /* height: 10vh; */
    font-size: 1.2rem;
    color: rgb(33, 33, 33);
    text-transform: uppercase;
}

#more-arrow a {
    text-decoration: none;
}

.ps-gallery video {
    
    background-color: #e3ded0;
    border-radius: 15px;
    display: block;
    width: 100%; /* Make the video responsive */
    box-sizing: border-box; /* Ensures the padding is included in the width calculation */
}

#lincoln-gif {
    width: auto; /* Maintain aspect ratio */
    height: 100%; /* Fill the height of the bounding box */
    max-width: 100%;
    max-height: 100%;
    padding: 40px;
    object-fit: contain; /* Ensures the video doesn't stretch */
    position: relative;
    box-sizing: border-box; /* Include padding within the element’s dimensions */
}

.callout-ps {
    background-color: #ebe8de;
    border-radius: 15px;
    display: block;
    padding: 30px;
}

.callout-ng {
    background-color: #d5e1ee;
    border-radius: 15px;
    display: block;
    padding: 30px;
}